*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --meu-azul: aliceblue;
    --main:80%;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: aliceblue;
    height: 8%;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:1.5em;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.356);
}

/* Inicio Main */
main{
    background-color:yellow;
    width:var(--main);
    margin:0 auto;
    margin-top:.5%;
    border-radius:10px;
    
}

/* Inicio divs das escolhas */

main #escolha-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #escolha-content{
    display: flex;
    justify-content: space-between;
}

main #escolha-sub-container h2{
    text-align: center;
    padding-bottom: 5%;
}

main #escolha-sub-container{
    width: 50%;
}


.radio{
    display: inline-block;
    width: 30px;
    height: 30px;

}

.escolha-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens img:nth-child(2), .imagens img:nth-child(3){
    margin-left:-15px;
}

/* Fim das divs das escolhas */

/*-----Inicio- Jogo */


/* --------> Riscas */
.risca{
    width: 5px;
    height: 50px;
    background-color: black;
    margin-bottom:10px;
    
}

.horizontal{
    width: 200px;
    height: 5px;
}

.vertical{
    width: 5px;
    height: 200px;
    transform: rotate(0deg);
}

.diagonal-principal{
    transform: rotate(-60deg);
}
.diagonal-secundaria{
    transform: rotate(60deg);
}

#riscas-container{
    position:relative;
    display: none;
}

/* --------> Riscas- FIM*/

/* --------> Divisorias- INICIO*/

.horizontal{
    width: 350px;
    height: 5px;
}

.vertical{
    width: 5px;
    height: 350px;
    transform: rotate(0deg);
}

/* Fim-Jogo */

#divisorias-container{
    position:relative;
    margin:3% auto;
    width: 150px;
    height: 400px;
}

.divisoria{
    background-color:black;
    border-radius: 10px;
    margin-bottom:10px;
}

.aux{
    display: flex;
}


#verticais-container{
    display: flex;
    width: 150px;
    justify-content: space-between;
    height: 200px;
}

#horizontais-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    justify-content: space-between;
    margin-left: -100px;
    margin-top:-100px;
}

/* Quadros: INICIO */

#quadros-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas: "l1 l2 l3"
                         "l4 l5 l6"
                         "l7 l8 l9";
   justify-content: center;
   top: -430px;
   column-gap: 30px;
   row-gap: 20px;
}

.quadro{
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 10px;
}


/* Fim-Jogo */

footer{
    background-color: blue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    height: 200px;
}

footer #desc{
    display:flex;
    gap:10px;
}

footer #desc div{
    display: flex;
    gap:1.5%;  
}

#logo-diang{
    display: inline-block;
    height: 40px;
    background-color: var(--meu-azul);
    color: darkblue;
}

#logo-games{
    color: var(--meu-azul)
}


